<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="{% url 'home' %}">Text Analyser</a>
<a href="{% url 'changer' %}">Word changer</a>
<h3>Text Analyser</h3>
<form action="/analysis" method="get">
    <textarea name="mytext" style="width: 1287px; height: 238px;">{{textvalue}}</textarea><br>
    <label style="color:red">{{error}}</label><br>
    <input name="chak" id="chake" value="rmvp" type="radio"><label>Remove Punctuation</label><br>
    <input name="chak" id="chake" value="lower" type="radio"><label>Text Lower</label><br>
    <input name="chak" id="chake" value="Capital" type="radio"><label>Text Capitalozer</label><br>
    <input name="chak" id="chake" value="countchar" type="radio"><label>Text Counter</label><br>
    <input name="chak" id="chake" value="countchar" type="radio"><label>Text Counter</label><br>
    <input name="chak" id="chake" value="Wordcounter" type="radio"><label>word Counter</label><br>
    <input name="chak" id="chake" value="Sentance_counter" type="radio"><label>Sentance counter</label><br>
    <input name="chak" id="chake" value="countspace" type="radio"><label>Space Counter</label><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>